.App.dark {
  --chain-selector-background-color: var(--base-07);
  --chain-selector-disabled-background-color: var(--base-05);
  --chain-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --chain-selector-connect-background-color: var(--base-07);
  --chain-selector-connect-background-accent-color: var(--base-05);
  --chain-selector-connect-font-color: var(--base-00);
}

.App.light {
  --chain-selector-background-color: var(--base-00);
  --chain-selector-disabled-background-color: var(--base-02);
  --chain-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --chain-selector-connect-background-color: var(--base-00);
  --chain-selector-connect-background-accent-color: var(--base-01);
  --chain-selector-connect-font-color: var(--base-05);
}

.chain-selector-container {
  display: flex;
  justify-content: space-between;
}

.chain-selector-source,
.chain-selector-dest {
  width: 172px;
  display: flex;
  flex-direction: column;
}

.chain-selector-heading {
  margin-bottom: 12px;
}

.chain-selector {
  height: 40px;
  padding: 0 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--chain-selector-background-color);
  box-shadow: var(--chain-selector-shadow);
}

.chain-selector.disabled {
  cursor: not-allowed;
  background-color: var(--chain-selector-disabled-background-color);
}

.chain-selector-chain-icon {
  width: 24px;
  height: 24px;
}

.chain-selector-chain-name {
  margin: 0 8px;
  font-size: 0.938rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chain-selector-wallet-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.chain-selector-connected-address {
  color: var(--base-03);
  font-size: 0.75rem;
}

.chain-selector-wallet-icon.MetaMask {
  background-image: url('../../images/meta-mask-icon.png');
  background-size: 16px 16px;
}

.chain-selector-wallet-icon.Keplr {
  background-image: url('../../images/keplr-icon.png');
  background-size: 16px 16px;
}

.chain-selector-wallet-icon.Ledger {
  background-image: url('../../images/ledger-light-icon.png');
  background-size: 16px 16px;
}

.light .chain-selector-wallet-icon.Ledger {
  background-image: url('../../images/ledger-light-icon.png');
}

.dark .chain-selector-wallet-icon.Ledger {
  background-image: url('../../images/ledger-dark-icon.png');
}

.chain-selector-wallet-connect-button {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--chain-selector-connect-background-color);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--chain-selector-shadow);
  color: var(--chain-selector-connect-font-color);
  border: none;
  border-radius: 8px;
}

.chain-selector-wallet-connect-button:hover {
  background-color: var(--chain-selector-connect-background-accent-color);
}

.chain-selector-wallet-connect-button.disabled {
  cursor: default;
}

.chain-selector-toggle-button {
  width: 32px;
  height: 32px;
  margin-top: 30px;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-04);
  cursor: pointer;
}

.chain-selector-toggle-button:hover {
  animation: 0.2s changeToggleDirection forwards;
}

@keyframes changeToggleDirection {
  25% {transform: rotate(45deg);}
  50% {transform: rotate(90deg);}
  79% {transform: rotate(135deg);}
  100% {transform: rotate(180deg);}
}

.chain-selector-toggle-button:hover {
  background-color: var(--base-03);
}

.chain-selector-toggle-image {
  width: 16px;
}

