.App.dark {
  --token-selector-background-color: var(--base-07);
  --token-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --theme-button-background-color: var(--base-06);
}

.App.light {
  --token-selector-background-color: var(--base-00);
  --token-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --theme-button-background-color: var(--base-01);
}

.Box.TransferBox {
  width: 440px;
}

.transfer-box-heading {
  margin-bottom: 20px;
}

.theme-change-button {
  background: var(--theme-button-background-color) !important;
}

.token-selector {
  background-color: var(--token-selector-background-color);
  box-shadow: var(--token-selector-shadow);
  border-radius: 8px;
  height: 40px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  flex-basis: min-content;
  cursor: pointer;
}

.token-selector.disabled {
  cursor: not-allowed;
}

.token-selector-token-icon {
  width: 24px;
  height: 24px;
}

.token-selector-token-name {
  margin: 0 8px;
  font-size: 0.938rem;
  white-space: nowrap;
}

.token-selector-max-button {
  padding: 4px 9px;
  background: var(--blue);
  border-radius: 8px;
  margin-left: 12px;
  cursor: pointer;
}

.token-selector-max-button:hover {
  background-color: #00618F;
}

.token-selector-max-button .Text {
  color: var(--base-00) !important;
}

.token-selector-token-amount-input {
  color: var(--input-color);
  font-size: 1.5rem;
  background: transparent;
  border: none;
  text-align: right;
  width: 150px;
  padding: 0;
  flex-grow: 1;
}

.token-selector-token-amount-input:focus-visible {
  outline: none;
}

.token-selector-second-row {
  display: flex;
  margin-top: 10px;
}

.transfer-button-container {
  margin-top: 16px;
}

.transfer-button {
  width: 100%;
  height: 52px;
}

@media all and (width < 768px) {
  .Box.TransferBox {
    display: none;
  }
}
