.header {
  padding: 12px 0;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 32px;
}

.logo-title-container {
  height: 32px;
  padding: 0 12px;
  margin-left: 16px;
  border-radius: 100px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 0.813rem;
}

.App.light .logo-title-container {
  background: linear-gradient(var(--base-00), var(--base-00)) padding-box, linear-gradient(90deg, #872FEA 0%, #0ACCDE 100%) border-box;
  color: var(--base-05);
}

.App.dark .logo-title-container {
  background: linear-gradient(var(--base-06), var(--base-06)) padding-box, linear-gradient(90deg, #872FEA 0%, #0ACCDE 100%) border-box;
  color: var(--base-00);
}

.logo-title-gravity-bridge {
  color: #0ACCDE;
}

.buttons-container {
  padding: 0 20px;
  display: flex;
}

.button {
  background-color: var(--header-base-color);
  color: var(--header-font-color);
  border: none;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--header-active-color);
}

.connect-button {
  width: 160px;
  height: 36px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.wallet-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.connected-button {
  padding: 0 8px;
  height: 36px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.balance-container {
  height: 20px;
  padding: 0 8px;
  background-color: var(--header-accent-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-icon {
  width: 8px;
  height: 8px;
  margin: 0 12px;
  background-color: var(--green);
  border-radius: 50%;
}

.blockies {
  width: 16px;
  height: 16px;
  margin: 0 12px;
  border-radius: 50%;
}
