.footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  color: var(--base-03);
}

@media all and (width < 768px) {
  .footer {
    left: 20px;
    text-align: center;
    display: block;
  }

  .deployed-on-akash {
    display: flex;
    align-items: center;
    justify-content: center
  }

  .copyright {
    margin-top: 10px;
    display: block;
  }
}

