html {
  min-height: 100vh;
  --blue: #007BB5;
  --green: #1DDB3C;
  --red: #E31616;
  --base-00: #fff;
  --base-01: #F2F4F8;
  --base-02: #D1D4D8;
  --base-03: #81858B;
  --base-04: #616161;
  --base-05: #3A3A3A;
  --base-06: #252628;
  --base-07: #1B1C1E;
  --accent: linear-gradient(90deg, #872FEA 0%, #0ACCDE 100%);
  --accent-deep: linear-gradient(90deg, rgba(138, 43, 234, 0.8) 0%, rgba(5, 210, 221, 0.8) 102.05%);
}

.dark {
  --app-background: url(./images/bg-dark.svg) center fixed no-repeat, linear-gradient(#000000, #000000);
  --app-font-color: var(--base-00);

  --header-font-color: var(--base-00);
  --header-base-color: var(--base-07);
  --header-active-color: var(--base-06);
  --header-accent-color: var(--base-05);

  --token-selector-background-color: var(--base-07);
  --token-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --toastify-color-dark: var(--base-06);

  --input-color: var(--base-03);
  --input-border-color: var(--base-03);
  --input-focus-border-color: var(--base-00);

  --token-list-item-hover-color: var(--base-06);
}

.light {
  --app-background: url(./images/bg-light.svg) center fixed no-repeat, linear-gradient(var(--base-01), var(--base-01));
  --app-font-color: var(--base-05);

  --header-font-color: var(--base-05);
  --header-base-color: var(--base-00);
  --header-active-color: var(--base-01);
  --header-accent-color: var(--base-01);

  --token-selector-background-color: var(--base-00);
  --token-selector-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  --input-color: var(--base-05);
  --input-border-color: var(--base-05);
  --input-focus-border-color: var(--base-05);

  --token-list-item-hover-color: var(--base-01);
}

.App {
  background: var(--app-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--app-font-color);
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.TransferBox {
  margin-top: 70px;
}
